.start {
	background-color: black;
}

.toggle {
	background-color: white;
}

#logoWhite{
	z-index: 103;
	width: 300px;
	height: 474px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -272px;
}

#logoRed{
	z-index: 101;
	width: 300px;
	height: 474px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -272px;
}

#logoGreen{
	z-index: 102;
	width: 300px;
	height: 474px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -272px;
}


.button {
	z-index: 50;
	color: white;
	width: 90px;
	height: 45px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;

	/*Border*/
	border-color: white;
	border-style: dashed;
	border-width: 1px;
	border-radius: 4px;

}

.button:hover {
	font-weight: bold;
	border-style: solid;

}

.buttonToggle {
	z-index: 50;
	color: black;
	width: 90px;
	height: 45px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;

	/*Border*/
	border-color: black;
	border-style: dashed;
	border-width: 1px;
	border-radius: 4px;

}

.buttonToggle:hover {
	font-weight: bold;
	border-style: solid;


}

#code{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: 232px;

}

#graphics{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: 232px;	
}

#graphics:hover {
	border-color: #00f3d6;
	color: #00f3d6;
}

#video{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: 50px;
	margin-top: 232px;
}

#video:hover{
	border-color: #ee3278;
	color: #ee3278;
}

p {
	font-family: helvetica;
	font-size: 15px;
}

a {
	text-decoration:none;
	color: black;
}

a:visited {
	color: black;
}

.bodyBlack {
	background-color: black;
}

.bodyWhite {
	background-color: white;
}

#contact {


	position: absolute;

	width: 60px;
	height: 54px;

	padding-top: 6px;

	border-radius: 30px;

	left: 100%;
	top: 0%;
	margin-left: -70px;
	margin-top: 10px;
}

.emailOne {
	height: 15px;
	width: 300px;
	color:white;
	font-family: helvetica;

	z-index: -1;

	position: absolute;
	left: 100%;
	top: 0%;
	margin-left: -320px;
	margin-top: -35px;
}

.emailOneToggle {
	height: 15px;
	width: 300px;
	font-family: helvetica;
	color:black;
	z-index: -1;
	position: absolute;
	left: 100%;
	top: 0%;
	margin-left: -320px;
	margin-top: -35px;
}

#portfolio {
	width: 290px;
	z-index: 51;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: 232px;
}

